body{
    padding: 6px 10px;
    gap: 10px;
    background-image: url(./images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    }
     
    #main{
    padding: 1px 10px 37px 10px;
    gap: 20px;
    }
     
     
    #container1{
    width: 328px;
    height: 201px;
    padding: 41px 43px;
    gap: 32px;
    border-radius: 10px 100px 10px 10px;
    background: #1D2C67;
    }

     
    #container2{
    width: 328px;
    height: 160px;
    padding: 31px 12px;
    gap: 12px;
    border-radius: 10px;
    background: #1D2C67;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
   
    }
    #icon{
    display: flex;
    align-items: flex-start;
    gap: 17px;
    }
    

    #outer-progress{
        width: 258px;
        height: 20px;
        padding: 1px;
        gap: 42px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #0C122C;
    }

    #inner-progress{
        width: 194px;
        height: 14px;
        padding: 0px 2px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFA399;
    }

    #middletext{
        width: 265px;
        height: 17px;
        padding: 0px 40px;
        gap: 182px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #1D2C67;
    }

    #white-box{
        
        width: 150px;
        height: 65px;
        padding: 15px 6px 14px 6px;
        gap: 7px;
        flex-shrink: 0;
        border-radius: 10px;
        background: white;
        color: #000;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #000;
    }
    


